@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --title: #16163d;
  --second-title: #161734;
  --label: #050817;
  --base-dark: #3b3939;
  --base-medium: #4e4c4c;
  --base-light: #636060;
  --primary: #2e49ce;
  --warning-light: #fff6e8;
  --warning-dark: #ffb745;
  --success-light: #dcfce7;
  --success-dark: #00c950;
  --error-light: #ffc9c9;
  --error-dark: #fb2c36;
  --muted-light: #f8f9fa;
  --muted-medium: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-title: var(--title);
  --color-second-title: var(--second-title);
  --color-label: var(--label);
  --color-base-dark: var(--base-dark);
  --color-base-medium: var(--base-medium);
  --color-base-light: var(--base-light);
  --color-primary: var(--primary);
  --color-warning-light: var(--warning-light);
  --color-warning-dark: var(--warning-dark);
  --color-success-light: var(--success-light);
  --color-success-dark: var(--success-dark);
  --color-muted-light: var(--muted-light);
  --color-muted-medium: var(--muted-medium);
  --color-error-light: var(--error-light);
  --color-error-dark: var(--error-dark);
  --font-sans: var(--font-mona-sans);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mona-sans), Helvetica, sans-serif;
}

@media (max-width: 767px) {
  .shipments-range-picker-dropdown .ant-picker-panels {
    flex-direction: column;
  }

  .shipments-range-picker-dropdown .ant-picker-panel-container {
    max-width: calc(100vw - 32px);
  }

  .shipments-range-picker-dropdown .ant-picker-presets {
    display: none !important;
  }
}
